# Configure context
git config user.email "1a35e1@protonmail.com"
git config user.name "1a35e1"

echo "=> 1a35e1 <1a35e1@protonmail.com>"

# Same id used in across all environments
export NEXT_PUBLIC_SIGNALS_ENV="dev"


