# Nextjs
export NEXT_PUBLIC_SIGNALS_ENV="dev"
export NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
export NEXT_PUBLIC_GOV_TOKEN=
export NEXT_PUBLIC_USDC_TOKEN=
export NEXT_PUBLIC_SIGNALS_PROTOCOL=
export NEXT_PUBLIC_TOKEN_REGISTRY=
export NEXT_PUBLIC_INCENTIVES=

# Foundry
export LOCAL_RPC=$NEXT_PUBLIC_RPC_URL
export DEPLOYER_TESTNET_SEED_PHRASE=
export ALICE_PRIVATE_KEY=
export DEPLOYER_TESTNET_PRIVATE_KEY=
