node_modules
.ponder
.next
.turbo
.git
.env
.env.local
.env*.local
*.pem
.DS_Store
coverage
apps/interface
apps/docs
apps/research
apps/simulations
apps/sdk
apps/protocol/lib
apps/protocol/src
apps/protocol/test
apps/signals-token-factory/lib
apps/signals-token-factory/src
apps/signals-token-factory/test
packages/ui
packages/shared
packages/shared-solidity
packages/tsconfig
