@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefbf5; 
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html.dark {
  --background: #202020;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* apps/interface/src/app/globals.css */

/* Weird thing in the DOM from the vaul library (drawer) that adds a bunch of white space when making the content scrollable */
/* [data-vaul-drawer]::after {
  content: none;
  position: static;
  background: none;
  height: 0 !important;
}

.handle-class {
  position: relative;
  z-index: 60;
} */